@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Josefin Slab', serif;
}
header{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        padding: 20px;
        li{
            margin: 5px 10px;
            list-style: none;
        }
    }
}
.main_sec{
    display: flex;
    justify-content: center;
    margin-top: 19vh;
    h1{
        font-size: 150px;
        font-weight: 700;

    }
}
.light{
    font-weight: 100;
}
footer{
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    ul{
        display: flex;
        li{
            color: white;
            padding: 5px 10px;
            list-style: none;
        }
    }
}
@media only screen and (max-width:600px){
    .socials{
        display: none;
    }
}
.socials{
    width: 100px;
    height: 300px;
    background-color: rgb(255, 130, 150);
    position: fixed;
    right: 0;
    top: 25vh;
    border-radius: 30px 0px 0px 30px;
}
.social{
    fill: white;
}
.wave {
    fill: rgb(0,0,0);
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    left: 0;
}
.options{
    display: flex;
    padding-bottom:60px ;
    h3{
        margin: 20px 10px;
    }
}

.work_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work{
    width: 50%;
    td{
        p{
            margin-bottom: 12px;
        }
        padding: 50px;
    }
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(253, 15, 154);
}
.sub-title{
    font-size: 50px;
    font-weight: 700;
    margin: 25px;
}
h1,h2,h3{
    margin: 0;
}
h2{
    text-align: center;
    margin: 5px;
}

@media only screen and (max-width:600px){
    .work{
        width: 80%;
        td{
            padding: 5px;
        }
    }
}
.sub-pages-footer{
    position: fixed;
}

.about-me{
    width: 50%;
    margin: auto;
    text-align: center;
    // padding: 0px 200px;
    padding-bottom: 25px;
    // padding-bottom: 45px;
    img{
        height: 200px;
        border-radius: 50%;
        // padding-bottom: 20px;
    }
    p{
        padding-top: 25px;
    }
}
@media only screen and (max-width:600px)
{
    .sub-pages-footer{
        position: relative;
    }
}
.form-submit {
    width: 50%;
    // margin: 0px 390px;
    margin: auto;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: yellow;
}

.form-submit textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px 0;
}

button {
    width: 100%;
    background-color: rgb(79,177,79);
    color: rgb(255,255,255);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;
}
@media only screen and (max-width:600px)
{
    .form-submit{
        width: 80%;
        .form-row{
            display: flex;
            flex-direction: column;
            .form-control{
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}