@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;1,300&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/* Image and name */
.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* hover image and see magic */
@media only screen and (min-width: 600px){
  .move{
    transition: all 1s;
  }
  .move:hover{
    translate: 200px 0px;
  }
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: "Josefin Slab", serif;
}

header {
  display: flex;
  justify-content: center;
}
header ul {
  display: flex;
  padding: 20px;
}
header ul li {
  margin: 5px 10px;
  list-style: none;
}
.myimg{
  width: 250px;
  border-radius: 35%;
}
.main_sec {
  display: flex;
  justify-content: center;
  margin-top: 19vh;
}
.main_sec h1 {
  font-size: 150px;
  font-weight: 700;
}

.light {
  font-weight: 100;
}

footer {
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
}
footer ul {
  display: flex;
}
footer ul li {
  color: white;
  padding: 5px 10px;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .work_sec{
    margin-bottom: 100px !important;
  }
  .sub-title {
    padding-bottom: 100px;
  }
  .socials {
    display: none;
  }
}
.socials {
  width: 100px;
  height: 300px;
  background-color: rgb(255, 130, 150);
  position: fixed;
  right: 0;
  top: 25vh;
  border-radius: 30px 0px 0px 30px;
}

.social {
  fill: white;
}
.myCar{
  height:400px !important;
  width: 800px !important;
  color: white !important;
}
@media only screen and (max-width: 600px){
  .myCar{
    height: 80% !important;
    width: 70% !important;
  }
}
.wave {
  fill: rgb(0, 0, 0);
  width: 100vw;
  height: 60vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.options {
  display: flex;
  padding-bottom: 60px;
  padding-top: 5px;
}
.option{
  background-color: rgb(255, 130, 150);
  border-radius: 14px;
  margin-left: 5px;
}
.options h3 {
  margin: 20px 10px;
}

.work_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  width: 50%;
}
.work td {
  padding: 50px;
}
.work td p {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(253, 15, 154) !important;
}

.sub-title {
  font-size: 50px;
  font-weight: 700;
  margin: 25px;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  text-align: center;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .work {
    width: 80%;
  }
  .work td {
    padding: 20px;
  }
}
.sub-pages-footer {
  position: fixed;
}

.about-me {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
}
.about-me img {
  height: 200px;
  border-radius: 50%;
}
.about-me p {
  padding-top: 25px;
}

@media only screen and (max-width: 600px) {
  .sub-pages-footer {
    position: relative;
  }
}
.form-submit {
  width: 50%;
  margin: auto;
}

.form-submit form {
  width: 100%;
}

.form-submit .form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-control {
  width: 50%;
  border: none;
  font-size: 20px;
  padding: 5px;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
  outline: 0;
  background-color: yellow;
}

.form-submit textarea {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  border: none;
  padding: 0;
  resize: none;
  margin-top: 5px;
  font-size: 20px;
  padding: 20px 0;
}

button {
  width: 100%;
  background-color: rgb(79, 177, 79);
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .form-submit {
    width: 80%;
  }
  .form-submit .form-row {
    display: flex;
    flex-direction: column;
  }
  .form-submit .form-row .form-control {
    width: 100%;
    margin-top: 5px;
  }
}/*# sourceMappingURL=main.css.map */